.container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;

    h2 {
        text-align: center;
    }
}

.container-flex {
    position: relative;
    display: flex;

    @media (max-width: 678px) {
        flex-direction: column;
        flex: 1 1 auto;
    }
}

.block-settings {
    background-color: rgb(164, 229, 247);
    height: calc(100vh - 48px);
    width: fit-content;
    padding: 10px 5px;

    .settings-sign-operation {
        p {
            color: blue;
        }

        >div {
            div {
                max-width: 120px;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .settings-choise-range {
        label {
            color: blue;
        }

        select {
            max-height: 50px;
            overflow-y: auto;
            color: red;
            text-align: center;
        }
    }

    @media (max-width: 678px) {
        height: fit-content;
        width: 100%;
    }
}

.non-interactive {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.container-blocks-game-mechanics {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/images/mathematical/fone-mathematical-trio.jpg');

    &::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.832);
    }

    .count-questions {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 10px;

        span {
            color: blue;
        }
    }

    >div {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 80%;

        .block-game-mechanics {
            display: flex;
            align-items: center;

            .number {
                border: 2px solid blue;
                width: fit-content;
                min-width: 36px;
                padding: 0 5px;
                height: 36px;
                text-align: center;
                font-size: 26px;
                line-height: 36px;
            }

            .sign {
                display: flex;
                justify-content: center;
                align-items: center;
                color: blue;
                width: 26px;
                height: 26px;
                font-size: 26px;
            }

            .result {
                position: relative;
                z-index: 2;
                width: 80px;
                min-width: 36px;
                padding: 0 5px;


                input {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    font-size: 26px;
                    text-align: center;
                    background-color: transparent;
                    border: none;
                }

                .hidden-input {
                    display: none;
                }
            }

            .answer-correct {
                background-image: url('../../assets/images/arithmetic/ok.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            .answer-not-correct {
                background-image: url('../../assets/images/arithmetic/close.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        .block-button {
            user-select: none;

            .not-active {
                color: gray;
                border: 2px solid grey;
                pointer-events: none;
            }
        }

        .block-error {
            position: absolute;
            bottom: 10px;
            width: 100%;
            text-align: center;

            span {
                color: red;
            }

            @media screen and (pointer: coarse) and (orientation: landscape) {
                bottom: -10px;
            }
        }
    }
}

.block-info-games {
    background-image: url(../../assets/images/mathematical/danceFoneWine.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::after {
        content: '';
        background-image: url('../../assets/images/mathematical/win.gif');
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: calc(40% + 5vw);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    p {
        color: rgb(34, 255, 0);
        font-size: 22px;
        padding: 10px;
    }

    ul {
        background-color: rgb(150, 191, 234);
        padding: 20px;
        border-radius: 10px;

        li {
            list-style: none;
    
            span {
                color: blue;
            }
        }
    }
}
.block-info-games-lose {
    background-image: url(../../assets/images/mathematical/not-learning.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
        color: rgb(34, 255, 0);
        font-size: 22px;
        padding: 10px;
    }

    ul {
        background-color: rgb(150, 191, 234);
        padding: 20px;
        border-radius: 10px;

        li {
            list-style: none;
    
            span {
                color: blue;
            }
        }
    }
}

.show-information-block {
    display: flex;
}

.hidden-element {
    display: none;
}